
Thank you for the bug report!

However Plasma <%= report %> is no longer eligible for support or maintenance from KDE; supported versions are <%= plasma_lts.join(', ') %>, and <%= plasma %> or newer. Please upgrade to a supported version as soon as your distribution makes it available to you. Plasma is a fast-moving project, and bugs in one version are often fixed in the next one.

If you need support for Plasma <%= report %>, please contact your distribution, who bears the responsibility of providing support for older releases that are no longer supported by KDE.

If you can reproduce the issue after upgrading to a supported version, feel free to re-open this bug report.
